/* 第二光标变绿 */

.register>:nth-child(1)>:nth-child(-n+2) {
    color: #3b4;
}

.register>:nth-child(1)>:nth-child(-n+2) i {
    background: #3b4;
}


/* 第二光标变绿 */


/* ----------center---------- */

.register .center {
    height: 700px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.register .verify-code,
.register .username,
.register .code,
.register .makeSure-code {
    display: flex;
}

.register .verify-code span,
.register .username span,
.register .code span,
.register .makeSure-code span {
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #877;
    text-align: center;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-left: 1px solid rgb(221, 221, 221);
    border-right: none;
    display: block;
}

.register .verify-code input,
.register .username input,
.register .code input,
.register .makeSure-code input {
    width: 300px;
    border-left: none;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.register .verify-code-warning,
.register .username-warning,
.register .center .code-warning,
.register .code,
.register .makeSure-code,
.register .makeSure-code-warning,
.register .register-btn {
    margin-top: -180px;
}

.register .register-btn button {
    width: 398px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #e2231a;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    cursor: pointer;
}

.register .register-btn button:hover {
    background: #b82d25;
}

hr {
    margin-top: 100px;
}


/*----------js warning---------- */

.register [class$="warning"] {
    margin-left: -120px;
    color: #c5c5c5;
}

.register .center .code-warning {
    opacity: 1;
}


/*----------js warning---------- */


/* ----------center---------- */