.product_center {
    width: 1100px;
    height: 800px;
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;
    border-top: 0.5px #ccc solid;
    border-left: 0.5px #ccc solid;
    box-shadow: 2px 2px 2px 2px #ccc;
}


/* ----------商品左边 ----------*/


/* ----------商品左边 ----------*/

.product_pic {
    flex: 3;
    height: 100%;
    position: relative;
}

.product_pic ul {
    color: #333;
}

.product_pic ul a:hover {
    color: #e12228;
}

.product_pic ul li {
    float: left;
}

.product_pic div {
    margin: 30px auto 0px;
    width: 300px;
    border: 1px #333 solid;
}

.product_pic div img {
    width: 100%;
}


/* ----------商品右边 ----------*/

.product_msg {
    flex: 7;
}

.product_msg .itemInfo {
    width: 718px;
}

.product_msg .listName {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.product_msg .news {
    height: 32px;
    color: #e12228;
    font-size: 12px;
}

.product_msg .summary dl {
    overflow: hidden;
}

.product_msg .summary dt,
dd {
    float: left;
}

.product_msg .summary dt {
    width: 60px;
    padding-left: 10px;
    line-height: 36px;
    color: #333;
    font-size: 14px;
}

.product_msg .summary dd {
    font-size: 12px;
    line-height: 36px;
    color: #999;
}

.product_msg .summary_price,
.product_msg .summary_promotion {
    padding: 10px 0;
    background-color: #fee9eb;
    position: relative;
}

.product_msg .price {
    font-size: 24px;
    color: #e12228;
    font-style: normal;
}

.product_msg .summary_price a {
    color: #c81623;
}

.product_msg .remark {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 12px;
}

.product_msg .summary_promotion a {
    padding-top: 0;
}

.product_msg .summary_promotion dd {
    width: 450px;
}

.product_msg .summary_promotion em {
    display: inline-block;
    width: 40px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    background-color: #c81623;
    text-align: center;
    font-style: normal;
}

.summary_stock dd {
    line-height: 25px;
}

.product_msg .choose_color {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.product_msg .choose_color a,
.product_msg .choose_version a,
.product_msg .choose_type a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color: #000;
    border: 1px solid #ededed;
    text-align: center;
    padding: 0 12px;
}

.product_msg .summary a.current {
    border-color: #c81623;
}

.product_msg .choose_version {
    margin: 10px 0;
}

.product_msg .choose_btns {
    margin-top: 20px;
}

.product_msg .choose_amount {
    float: left;
    width: 64px;
    height: 45px;
    background-color: #ccc;
    border: 1px solid #ccc;
    position: relative;
}

.product_msg .choose_amount input {
    width: 48px;
    height: 45px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.product_msg .add,
.product_msg .reduce {
    position: absolute;
    right: 0;
    width: 15px;
    height: 22px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 22px;
}

.product_msg .add {
    top: 0;
    border-bottom: 1px solid #ccc;
}

.product_msg .reduce {
    bottom: 0;
}

.product_msg .addCar {
    float: left;
    width: 142px;
    height: 46px;
    line-height: 46px;
    background-color: #c81623;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-left: 25px;
    font-weight: 700;
}

.product_msg .addCar:hover {
    background-color: #ed6a5a;
    color: #fff;
}


/* ----------商品右边 ----------*/


/* ----------商品评价 ----------*/

.product_assess {
    width: 1100px;
    /* border: #c81623 1px solid; */
    margin: 10px auto 0;
}

.product_assess .assess_nav {
    width: 1100px;
}

.product_assess .assess_nav {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
}

.product_assess .assess_nav li:nth-child(1) {
    background-color: #e12228;
    color: #fff;
}

.product_assess .assess_nav li {
    padding: 10px;
    border-bottom: #c81623 1px solid;
}

.product_assess .assess_nav li:hover {
    transition: 0.5s ease;
    background-color: #e12228;
    color: #fff;
}

.product_assess .assess {
    width: 1100px;
    height: 500px;
    border-left: #999 2px solid;
    border-right: #999 2px solid;
    border-top: #999 2px solid;
    box-shadow: 2px #fff;
}

.product_assess .assess div {
    height: 200px;
    /* border: 1px solid #000; */
}

.product_assess .assess div h1,
.assess h3 {
    text-align: center;
}

.product_assess .assess div h1 {
    color: #e12228;
    font-size: 50px;
    padding: 10px;
}

.product_assess .assess>div ul li {
    float: left;
    width: 80px;
    margin-left: 50px;
    margin-top: 20px;
}

.product_assess .assess .user_assess .user a,
.product_assess .assess .user_assess .user a img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 100px auto;
    transform: translateY(-50%);
}

.product_assess .assess .user_assess {
    display: inline-block;
    width: 100%;
    /* height: 100px; */
    border: 1px solid #000;
}

.product_assess .assess .user_assess .user {
    display: flex;
}

.product_assess .assess .user_assess .user .pic {
    flex: 1.5;
}

.product_assess .assess .user_assess .user .user_review {
    flex: 7;
    border: 1px solid #000;
}

.product_assess .assess .user_assess .user span {
    margin: 50px auto;
    display: block;
    width: 50%;
    height: 50%;
    border: 1px solid rgb(110, 104, 104);
    box-shadow: 2px 2px 2px #999;
}