@font-face {
  font-family: "iconfont"; /* Project id 3169511 */
  src: url('iconfont.woff2?t=1644093619493') format('woff2'),
       url('iconfont.woff?t=1644093619493') format('woff'),
       url('iconfont.ttf?t=1644093619493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hongbao:before {
  content: "\e6da";
}

.icon-jinggao:before {
  content: "\eb65";
}

.icon-jingdonglogo:before {
  content: "\e67e";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-haiwai:before {
  content: "\e627";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

