@font-face {
  font-family: "iconfont"; /* Project id 3195585 */
  src: url('iconfont.woff2?t=1645434473889') format('woff2'),
       url('iconfont.woff?t=1645434473889') format('woff'),
       url('iconfont.ttf?t=1645434473889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingdonglogo:before {
  content: "\e67e";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-haiwai:before {
  content: "\e627";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-hongbao:before {
  content: "\e6da";
}

.icon-jinggao:before {
  content: "\eb65";
}

.icon-suoding:before {
  content: "\e600";
}

.icon-yonghufill:before {
  content: "\e787";
}

.icon-jinzhide:before {
  content: "\e6bd";
}

.icon-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.icon-youjiantou:before {
  content: "\e62c";
}

.icon-zhaoxiangji:before {
  content: "\e601";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-shangjiantou:before {
  content: "\e602";
}

.icon-weizhi:before {
  content: "\e61a";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-fankui:before {
  content: "\e60c";
}

.icon-daifukuan:before {
  content: "\e603";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-gouwuche1:before {
  content: "\e70b";
}

.icon-daipingjia:before {
  content: "\e62a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-icon-eye-open:before {
  content: "\e60d";
}

.icon-biyanjing:before {
  content: "\e901";
}

