.inner {
    width: 1210px;
    margin: 0 auto;
}

.more {
    background: #f5f5f5;
    height: 94px;
    margin-top: 20px;
}

.more-list a {
    display: block;
    width: 220px;
    height: 54px;
    float: left;
    background-image: url(../imgs/footer_nav.png);
    background-repeat: no-repeat;
    background-position: 0 -130px;
    margin: 20px 75px 0 14px;
}

.more-list a.kuai {
    background-position: 0 -194px;
}

.more-list a.fun {
    background-position: 0 -258px;
}

.more-list a.sheng {
    background-position: 0 -322px;
    margin: 20px 0 0 14px;
}

.footer-list {
    border-bottom: 1px solid #e7e7e7;
    height: 202px;
}

.footer-list dl {
    width: 199px;
    float: left;
}

.footer-list dl.te {
    width: 127px;
    float: left;
}

.footer-list dt {
    font-size: 16px;
    color: #666;
    height: 30px;
    line-height: 30px;
    padding: 17px 0 5px 0;
}

.footer-list dd a {
    font-size: 12px;
    color: #7d7d7d;
    height: 22px;
    line-height: 22px;
}

.diqus {
    width: 203px;
    height: 169px;
    float: left;
    padding: 0 41px 0 41px;
}

.diqus h2 {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 17px 0 5px 0;
}

.diqus p {
    font-size: 12px;
    line-height: 22px;
}

.diqus a {
    font-size: 16px;
    display: block;
    float: right;
    margin-top: 5px;
}

.footer-list a:hover,
.foot ul li a:hover {
    color: #c71320;
}

.foot {
    text-align: center;
    padding-top: 15px;
}

.foot ul {
    display: inline-block;
}

.foot ul li {
    float: left;
    font-size: 12px;
    line-height: 23px;
    height: 23px;
}

.foot ul li a {
    display: block;
    float: left;
}

.foot ul li span {
    display: block;
    width: 2px;
    height: 11px;
    background: #b2b2b2;
    float: left;
    line-height: 28px;
    margin: 8px 11px;
}

.foot ul li.jing {
    padding-left: 23px;
}

.foot ul.bei li {
    margin: 20px 13px 32px 0;
}