/* ----------center--------- */

.succeed {
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c5c5c5;
}

.succeed .message p:nth-child(1) {
    font-size: 25px;
    font-weight: 700;
    color: black;
    line-height: 50px;
}

.succeed .message p:nth-child(2) {
    line-height: 50px;
}

.succeed .shopping button {
    width: 100px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #e2231a;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    cursor: pointer;
    margin-top: 50px;
}

.succeed .shopping button:hover {
    background: #b82d25;
}