@font-face {
  font-family: "iconfont"; /* Project id 3170063 */
  src: url('iconfont.woff2?t=1644164933666') format('woff2'),
       url('iconfont.woff?t=1644164933666') format('woff'),
       url('iconfont.ttf?t=1644164933666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suoding:before {
  content: "\e600";
}

.icon-yonghufill:before {
  content: "\e787";
}

.icon-jinzhide:before {
  content: "\e6bd";
}

.icon-gantanhao-yuankuang:before {
  content: "\e8ec";
}

.icon-youjiantou:before {
  content: "\e62c";
}

